
<header>
    <div class="container">
        <div class="header-content">
            <a href="{{ path('default_home') }}" class="logo">
                <img src="{{ asset('images/logotcl.jpg') }}" alt="TheCrossLove" class="logo-img">
            </a>

            {# Burger Menu Button #}
            <button class="burger-menu" id="burger-menu" aria-label="Menu" onclick="toggleBurgerMenu(event)">
                <span></span>
                <span></span>
                <span></span>
            </button>

            {# Overlay pour fermer le menu #}
            <div class="menu-overlay" id="menu-overlay" onclick="toggleBurgerMenu(event)"></div>

            {% include 'partials/nav.html.twig' %}
        </div>
    </div>
</header>
